.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 2px solid $light-gray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 10px;
  align-content: center;
  color: black;
}

.right-nav > ul > li {
  margin: 2px;
}

.right-nav > ul > li:last-of-type {
  padding: 8px;
  border-radius: 3px;
  position: relative;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}

.left-nav span {
  margin: 10px;
}


.right-nav i {
  font-size: 18px;
}
