div {
  height: 200px;
  width: 200px;
  padding: 50px;
  border: 5px solid black;
}

#first-div {
  background-color: #39cccc;
}

#second-div {
  background-color: #ff4136;
  box-sizing: border-box;
}

#third-div {
  padding: 0px;
  background-color: yellow;
  min-height: 10px;
  height: auto;
}

p {
  background-color: #7fdbff;
}

.image-1-container {
  display: inline-block;
  min-width: 200px;
  width: auto;
  height: 600px;
  background: green;
}

.image-2-container {
  width: 200px;
  height: 600px;
  background: green;
}

.image-2-container img {
  width: 100%;
}